<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a15041867.vms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Visitor Management System"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="Sign In"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Register"></activity>
        <activity
            android:name=".SignOutActivity"
            android:label="Sign Out"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AddUserActivity"
            android:label="Add User" />
        <activity
            android:name=".EvacuationActivity"
            android:label="Evacuation" />
        <activity
            android:name=".SummaryActivity"
            android:label="Summary" />
        <activity
            android:name=".UserInfoActivity"
            android:label="User Info" />
        <activity
            android:name=".VisitorInfoActivity"
            android:label="Summary" />
        <activity
            android:name=".HostHomePage"
            android:label="Host" />
        <activity
            android:name=".HostCancelPreRegister"
            android:label="Cancel Pre-Register" />
        <activity
            android:name=".HostChangePassword"
            android:label="Change Password" />
        <activity
        android:name=".HostPreRegister"
        android:label="Pre Register" />

    </application>

</manifest>